<!DOCTYPE html>
<html>
<head>
<title>Reader Self Feeder - Options</title>
<meta content="noindex, nofollow, noarchive" name="robots">
<link href="/thirdparty/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/styles/_extension.css" rel="stylesheet" type="text/css">
</head>
<body>
<main>
	<section>
	<h1><img src="/medias/readerself_200x200.png" alt=""></h1>
	<article class="title">
		<h2><i class="icon icon-gear"></i>Options</h2>
		<h3></h3>
		<form action="" method="post" accept-charset="utf-8">
		<p>
			<label for="url"><abbr title="Uniform Resource Locator">URL</abbr></label>
			<input type="text" name="url" value="" id="url"></p>
		<p>
			<button type="submit">Send</button>
		</p>
		</form>
	</article>
	</section>
</main>

<script src="/thirdparty/jquery/jquery.min.js"></script>
<script src="/scripts/_extension.js"></script>
<script src="/scripts/options.js"></script>
</body>
</html>
