<!DOCTYPE html>
<html>
<head>
<title>Reader Self Feeder - Popup</title>
<meta content="noindex, nofollow, noarchive" name="robots">
<link href="/thirdparty/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/styles/_extension.css" rel="stylesheet" type="text/css">
</head>
<body>
<article style="border:none;" class="title">
	<h2><i class="icon icon-rss"></i>Feeds</h2>
	<ul>
	</ul>
</article>
<script src="/thirdparty/jquery/jquery.min.js"></script>
<script src="/scripts/_extension.js"></script>
<script src="/scripts/popup.js"></script>
</body>
</html>
